/* this is the start of the CSS for our website */
body {
    background-color: #F0F5F9;
}
hr {
    border-color: #1E2022;
    /* these properties below are used to change the default css attributes */
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 40%;
}

h1, h2, h3 {
    color: #1E2022;
}

#intro {
    width: 450px;
}